.my-item-icon {
  text-align: center;
  margin-top: 20px;
}

.my-item-text {
  margin-top: 20px;
  text-align: left;
  font-size: 2.4em !important;
}

.my-delete {
  cursor: pointer;
}

.my-delete:hover {
  color: red;
}
